/* --------- This is CSS Reset Code --------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: sans-serif;
}

/* --------- Begin your CSS Below here --------- */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-header {
	background-color: #db7533;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	color: white;
}

.header-title {
	margin-left: 3rem;
}

nav {
	margin-right: 1rem;
}

.main-header button {
	border: none;
	background-color: transparent;
}

.main-header button a {
	color: white;
	text-decoration: none;
}

.main-header button a:hover {
	color: #ffc49d;
}

.main-header a {
	text-decoration: none;
	color: white;
}
.main-footer {
	background-color: #3e3e3e;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
}

.main-footer > svg {
	margin-right: 3rem;
}

.social-wrapper {
	margin-left: 3rem;
	color: white;
	text-align: center;
}

.social-wrapper svg {
	margin: 0.5rem;
}

.ad-banner-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40vh;
	width: 100%;
}

.details-banner {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

.food-title {
	z-index: 11;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
	position: absolute;
}

.banner-desc {
	height: 100%;
	width: 65%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.new {
	font-size: 0.75rem;
}

.food-title {
	font-size: 2.5rem;
	font-weight: bold;
	color: #db7533;
}

.desc-text {
	text-align: center;
	font-size: 0.9rem;
}

.blue-btn {
	background-color: #578a8b;
	border: none;
	color: white;
	padding: 5px 10px;
	border-radius: 0.1rem;
}

.blue-btn:hover {
	background-color: #69a5a6;
	cursor: pointer;
}

.recipe-cards-container {
	display: flex;
	gap: 1.5rem;
	min-height: min-content;
	margin: 2rem;
	margin-top: 0;
}

.recipe-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 150px;
	min-height: 225px;
	box-shadow: 0px 2px 3px 0px gray;
	border-radius: 0.1rem;
	padding-bottom: 1rem;
}

.image-title-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recipe-card h3 {
	font-size: 0.9rem;
}

.recipe-card img {
	width: 100%;
}

.search-wrapper {
	position: relative;
	margin: 1rem;
}

.search-input {
	background-color: #f6dfd1;
	border: none;
	border-radius: 100px;
	padding: 0.25rem;
	padding-left: 1.5rem;
	width: 200px;
}

.search-input:focus {
	outline: none;
}

.mag {
	width: 18px;
	position: absolute;
	left: 3px;
	top: 50%;
	transform: translateY(-50%);
}

.search-input::placeholder {
	color: rgb(38, 38, 38);
}

.recipe-details-section {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 4rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.recipe-details-section p {
	align-self: flex-start;
}

.details {
	min-width: 200px;
	padding: 1rem;
}

.instructions {
	min-width: 300px;
	padding: 1rem;
}

.recipe-card.instructions {
	justify-content: flex-start;
}

.recipe-header,
.ingredients-header,
.instructions-title {
	font-size: 1.65rem;
	padding-bottom: 0.5rem;
}

.ingredients-header {
	margin-top: 0.5rem;
}
